<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @if( (string) ViewData["TituloPag"] == "Comentarios"){
    <link rel="stylesheet" href="~/css/comentario.css">
        
}
    <title> @ViewData["TituloPag"] - Agora vai</title>
</head>
<body>
    
</body>
</html>
 <header class="header">
      
@{
    Html.RenderPartial("_HeaderNavBar");

}
             
           
<body class="flex-container">
    
    @RenderBody()
  

</body>
</html>
</html>