@{
    Layout = "_Layout";
}
    <link rel="stylesheet" href="css/login.css">

    <section id="cadastro">
       
            <div id="area">
                    <form action='@Url.Action("Logar", "Login")' method="POST" id="formulario" autocomplete="off">
                      <fieldset>
                        <legend>Login</legend>
                        <div><label class="email">Email:</label><input class="campo_email" type="text" name="email" required><br></div>
                         <div><label class="senha">Senha:</label><input class="campo_senha" type="text" name="senha" required><br></div>
                        <input type="submit" value="Enviar" class="enviar">
                      </fieldset>
                    </form>
                </div>
            </section>
            <section>

                <p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>.
                
            </section>


</html>