@{
    Layout = "_Layout";
    
}
    <link rel="stylesheet" href="css/cadastro.css">

    <section id="cadastro">
       
            <div id="area">
                    <form action="Cadastro/RegistrarUsuario" method="POST" id="formulario" autocomplete="off">
                      <fieldset>
                        <legend>Cadastre-se</legend>
                        <div><label class="nome">Nome:</label><input class="campo_nome" type="text" name="nome"><br></div>
                        <div><label class="email">Email:</label><input class="campo_email" type="text" name="email"><br></div>
                         <div><label class="senha">Senha:</label><input class="campo_senha" type="text" name="senha"><br></div>
                        <div><label class="data">Data de nascimento:</label><input class="campo_data" type="date" name="dataNascimento"><br></div>
                        <input type="submit" value="Enviar" class="enviar">
                      </fieldset>
                    </form>
                </div>
            </section>
            <section>

                <p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </p>.
                
            </section>


</html>