@{
    Layout = "_Layout";
}
    <link rel="stylesheet" href="css/quemsomos.css">
    <header class="header">
        <nav class="menu">
            <!-- <a class="toggle-nav" href="#">&#9776;</a> -->
            <ul class="active">
                <li>
                    <li><a href='@Url.Action("Index", "Home")#Home'></a></li>      
                        <h1>Ponto Digital</h1>
                    </a>
                </li>
                <li><img src="img/logo..jpg" class="logo"></li>

                <li>
                    <form class="search-form">
                        <input type="text" class="pesquisa">
                        <button class="search">Pesquisar</button>
                    </form>
                </li>
            </ul>
            <ul class="atalhos">
                <li>
                    <h2 class="slogan">Sua Empresa Em Seus Olhos</h2>
                </li>
                <li><a href='@Url.Action("Index", "Home")#QuemSomos'>Quem Somos</a></li>
                <li><a href='@Url.Action("Index", "Home")#Sac'>Sac</a></li>
            </ul>
        </nav>

            <section id="historia">
                <div class="hist">
                    <h3 class="h33">História</h3>
                    <p class="p_hist"> A empresa Agora Vai é um empresa especializada em <br>
                        desenvolvimento de softwares, fundada em 2012 por Carlos <br>
                        Tsukamoto e Cesar Sportore, acaba de desenvolver a última <br>
                        inovação do mercado computacional, o sistema operacional <br>
                        Ponto Digital</p>
                </div>
                <img class="imgbla" src="img/IMG-20190312-WA0010.jpg" alt="professores">
            </section>

            <section id="funcionarios">
                <img class="imgbla" src="img/IMG-20190317-WA0025.jpg" alt="funcionarios">
                <div class="func">
                    <h3 class="h24">Funcionários</h3>
                    <p class="p_func"> Watson: Especializado em Tipografia
                        <br>
                        Bruna: Especializada em Teoria das cores
                        <br>
                        Joyce: Especializada em Gestalt
                        <br>
                        Jhuan: Especializado em UX
                    </p>
                </div>
            </section>

            <section id="empresa">
                <img src="img/empresa_1.jpg" alt="" class="img_empresa1">
                <img src="img/empresa_2.jpg" alt="" class="img_empresa2">
                <img src="img/empresa_3.jpg" alt="" class="img_empresa3">
                <div class="empre">
                    <h3 class="h35">Empresa</h3>
                    <p class="p_empresa"> Localizada na Paulista e pensada para ser a melhor e mais produtiva <br>
                        do mercado nacional, desenvolvida pensando em melhorar o funcionamento <br>
                        das outras empresas, desenvolver softwares inovadores e alavancar o <br>
                        capital entre instituições pequenas e grandes com resultado de melhorar <br>
                        a economia brasileira.
                    </p>
                </div>
                <br>
                <br>
                <br>
                <br> <p>.</p>
            </section>

</html>