*{
    margin: 0;
    padding: 0;
}


.menu h1 {
    font-size: 60px;
    font-family:'Barlow', sans-serif;
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    color: black;
}
.menu ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: 50px;
    justify-content: space-around;
}
.menu ul:first-child{
    border-bottom: 2px solid gray;
}
.menu {
    height: 190px;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    background: #306294;
    display: flex;
    color: #000;
    flex-direction: column;
}
.menu li {
    display: flex;
	float: left;
	list-style:none;
    font-size: 50px;
    justify-content: first baseline;
}
.menu a {
    color: #000000;
    text-decoration: none;
    font-family:'Barlow', sans-serif;
}
.menu li > a {
    display: flex;
	color:black;
    text-decoration: none;
    background-color: #306294;
}
.slogan{
    display: flex;
    font-size: 50px;
    font-family:'Barlow', sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
    background-color: #306294;
}
.menu a:hover{
    background-color: #5486b8;
}
.atalhos{
    display: flex;
    justify-content: flex-end;
}




/* barinha de pesquisa */
.search-form {
    display: flex;
    align-items: right;
    position: relative;
    top: 30px;
}
.search-form input {
	width:400px;
	height:40px;
	padding:0px 8px;
	float: left;
    font-size:13px;
}
.search-form button {
    height:45px;
    padding:0px 8px;
	float:right;
	border-radius:0px 0px 0px 0px;
	background: #306294;
	font-size:13px;
    font-weight:500;
    color:#fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #fff;
}

.toggle-nav {
    font-size: 50px;
    display: flex;
    top: 5px;
    left: 50px;
}
/* fim da barinha de pesquisa */




/* começo das perguntas */
.duv{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 650px;
    padding-top: 50px;
}
.h4{
    font-size: 35px;
    font-family: 'Barlow', sans-serif;
    padding-top: 80px;
    padding-left: 30px;
}
.pergunta{
    font-size: 22px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
    padding-top: 20px;
}
/* final das perguntas */




/* inicio das avaliações */
.h36{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 750px;
    padding-top: 50px;
}
.ugly{
    width: 900;
    height: 500px;
}
.sex{
    width: 600;
    height: 200px;
}
