@{
    Html.RenderPartial("_HeaderNavBar");
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/sac.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <title>Ponto digital</title>
</head>
  
    <header class="header">
       
    </header>
    <section>
        <div>
            <h3 class="duv">Dúvidas frenquentes</h3>
            <h4 class="h4">1. Nunca utilizei um software de gestão, quais são os desafios que posso enfrentar?</h4>
            <p class="pergunta">Provavelmente você e sua equipe encaram a divisão de tarefas através de fichas, post-its, quadro exposto
                na parede ou algo do tipo. Ou, talvez, vocês tentam se gerenciar de uma forma mais orgânica, sem
                documentar ou pautar física ou virtualmente as diversas tarefas da empresa. Neste caso, as maiores
                dificuldades serão em relação a resistir os antigos hábitos. Pois a partir do uso do sistema tudo
                mudará.
                Vocês precisarão alimentar o sistema com os dados dos jobs e das tarefas. Embora tudo seja muito rápido
                e prático, toda a equipe pode sentir um desconforto nos primeiros dias por estar passando por uma
                mudança. Contudo, garantimos que o esforço para mudar o comportamento de gestão é extremamente válido.
                A partir dos dados coletados dos jobs cadastrados e da organização que o sistema proporciona, sua
                empresa poderá mensurar e aumentar significativamente a produtividade, evitar erros de comunicação e
                inclusive melhorar a relação com os clientes por possuir informações concretas sobre seu fluxo de
                trabalho e prazos (inclusive podendo precificar mais precisamente seus trabalhos, garantindo a
                lucratividade dos contratos).</p>


            <h4 class="h4"> 2. Já utilizei vários softwares, mas nenhum funcionou 100%. O que devo fazer para não errar novamente?</h4>
            <p class="pergunta">Se você já utilizou outros sistemas e está chegando no Operand agora, saiba que nosso primeiro passo para
                atendê-lo é identificar suas características e os motivos pelos quais os outros sistemas não deram certo.
                Muitos de nossos clientes encontraram funcionalidades e uma organização de dados diferenciada em nosso
                sistema, por isso optaram pelo Operand. Porém, outros se queixam por não terem conseguido implantar o uso do
                outro sistema que tentaram. E é aqui que o Operand se destaca. Possuímos uma equipe dedicada a ajudá-lo com
                a implantação e uso do sistema, o departamento de Relacionamento.
                
                Nossa equipe quer ajudá-lo a usar o sistema da forma mais plena o possível. Por isso promovemos conversas
                sobre as dificuldades com as funcionalidades ou com o engajamento da equipe para utilizar os recursos
                disponíveis na ferramenta. E dos possíveis problemas, a equipe pode ser a barreira mais difícil de
                ultrapassar. Pois o sistema depende de cada um para ser alimentado e usado plenamente.
                
                Por isso, faça o máximo para engajar a equipe. Promova momentos de conversa e discussão sobre o sistema e
                seja um promotor do uso do sistema. Lembre a todos que utilizar a ferramenta trará muitos benefícios
                futuros, bastam um pouco de persistência e paciência.
            </p> 


            <h4 class="h4"> 3. Todos da minha equipe precisam ter acesso ao sistema?</h4>
            <p class="pergunta"> Isso varia muito de plataforma para plataforma. No Operand, indicamos que toda a equipe tenha acesso ao
            sistema, pois assim há uma maior participação dentro do próprio sistema. O que acaba acelerando processos e
            garantindo mais visão sobre produtividade, tarefas a fazer e mais informações relevantes para seu processo.

            Além disso, o Operand possui diversos módulos, possibilitando que todas as áreas interajam e executem suas
            tarefas de forma prática. Com todos dentro do sistema, a comunicação fica mais eficiente. As pautas serão
            divididas entre os usuários e o trabalho de cada um estará à vista – ajudando na mensuração de resultados.
            </p>
        </div>
    </section>

    <section>
        <h3 class="h36">Avaliações</h3>
        <img class="ugly" src="img/Funny-Twitter.png" alt="">
        <img class="sex" src="img/tweet.jpg" alt="">
    </section>
